@model TodoApplication.Models.TodoDto

@{
    ViewBag.Title = "Edit Todo";
    Layout = "_Layout";
}

<h1>Edit Todo</h1>

<form method="post">
    <input type="hidden" asp-for="Id" />

    <div>
        <label asp-for="TaskTitle"></label>
        <input type="text" asp-for="TaskTitle" />
    </div>

    <div>
        <label asp-for="TaskDescription"></label>
        <input type="text" asp-for="TaskDescription" />
    </div>

    <div>
        <input type="hidden" asp-for="TaskDate" />
    </div>

    <button type="submit">Update</button>
</form>
